body {
    background-image: url(bcgr.jpg);
    background-repeat: no-repeat;
    overflow-x: hidden;
    overflow-y: hidden;
    z-index: 0;
}
#container{
    background-color: rgba(255, 255, 255, 0.5);
    height: 1000px;
    width: 1152px;
}
#header{
    background-color: #a4a6a8;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 30px;
    text-align: center;
    width: 1152px;
    margin: 0 0;
    margin-bottom: 30px;
}
#header h1 {
    margin: 5px  0;
    opacity: 0.5
}
body #main{
    z-index: 1;
    width: 7350px;
}
.fifth{
    float: left;
    width: 225px;
    border: 3px solid black;
    background-image: url(glass.png);
    background-size: contain;
    font-size: 25px;
    text-align: center;
    text-shadow: 1px 0;
    color: rgb(196, 187, 187);
    margin-bottom: 85px;
}
.fifth:hover{
 background-image: url(crack.jpg);
 background-size: contain;
 color: #dfe2be;
}
table{
    margin: 0 10%;
    margin-top: 200px;
    background-color: black;
    color: rgb(177, 177, 177);
    opacity: 0.7;
    margin-bottom: 85px;
}
table tr td, table tr th{
    border: 1px solid;
    font-size: 24px;
    padding: 0 5px;
}
#form{
    background-color: black;
    color: rgb(177, 177, 177);
    opacity: 0.7;
    width: 1452px;
    height: 300px;
}
#form p{
    margin-left: 270px;
    font-size: 25px;
}
form{
    background-color: rgb(41, 38, 38);
    color: rgb(212, 212, 212);
    opacity: 0.7;
    width: 1000px;
    font-size: 15px;
    margin-left: 70px;
    border: 8px double rgba(196, 187, 187, 0.3);
}
form input, form label{
    font-size: 30px;
    background-color: transparent;
    border: transparent;
    color: rgb(212, 212, 212);
    margin: 10px 0;
}
#check{
    height: 30px;
    width: 30px;
    font-size: 30px;
}
#button{
    border: 2px solid rgb(212, 212, 212);
    margin-left: 5%;
}
#email{
    border: 2px solid rgb(212, 212, 212);;
}