body{
    width: 1260px;
    height: 900px;
    overflow: hidden;
}
#top-image{
    background-image: url(../resources/startupBlur.jpg);
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 0;
    height: 100%;
    background-size: calc(100% + 50px);
    background-repeat: no-repeat;
    background-size: 165%;
}
h1{
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 80px;
    padding-bottom: 30px;
    color: rgb(204,204,204);
    text-shadow: 2px 3px black;
}
li{
    font-size: 35px;
    margin-top: 5px;
    color: rgb(29,161,242);
    text-shadow: 2px 3px black;
}
.block{
    width: 90%;
    height: 800px;
    background-color: rgba(39,100,138, 0.4);
    margin: 0 5%;
}
.start-play{
    background-color: rgb(205,221,222);
    font-size: 60px;
    margin-left: 38%;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px transparent;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: transform;
    transition-property: transform;
}
.start-play:hover{
    color: rgb(205,221,222);
    text-shadow: 2px 1px black;
    background-color: rgba(39,100,138, 0.9);
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}
