body{
    width: 100vw;
    height: 100vh;
    border: 3px solid #147514;
    overflow: hidden;
    user-select: none;
}
th {
    border: 1px dashed black;
    padding: 1.5vh !important;
    font-size: 2vh;
    background: #4CAF50;
    color: white;
    font-family: comfortaa;
}

div#game td{
    padding: 0.5vw;
}
#tableR{
    width: 100vw;

}
#tableR tr{
    height: 10vh;
}
#burzaIntro{
    background: rgba(23, 56, 84, 0.9);
    font-size: 70px;
    text-align: center;
    margin: 0 auto;
    margin-top: 5vh;
    font-family: comfortaa;
    width: 950px;
    border-radius: 100px 100px 20px 20px;
    box-shadow: 0px 1px 60px #41adce;
    animation: shake 10s infinite;
}
@keyframes shake {
    0% {
        transform: rotate(0deg);
    }
    50%{
        transform: rotate(0deg);
    }
    66%{
        transform: rotate(720deg);
    }
    100%{
        transform: rotate(-720deg);
    }
}
.confirm{
    width: 2.5vw;
    display: inline-block;
    background: #36b373;
    border-radius: 75px 0 0 75px;
    /* margin: 1vw; */
    font-size: 2vw;
    height: 5vh;
    /* text-align: right; */
    padding-right: 5px;
    line-height: 5vh;
    color: black;
}
.buyStocks{
    /* width: 7vw; future
    
    width: 2.5vw;
    background: #36b373;
    border-radius: 0 75px 75px 0;
    margin: 1vw;
    font-size: 2vw;
    height: 5vh;
    /* text-align: right; 
    padding-right: 5px;
    line-height: 5vh;
    color: black; */
    width: 2.5vw;
    display: inline-block;
    background: #36b373;
    border-radius: 0 75px 75px 0;
    margin: 1vw;
    font-size: 2vw;
    height: 5vh;
    text-align: right;
    padding-right: 5px;
    line-height: 5vh;
    color: black;
    float: right;
}
.buyStocks:hover{
    box-shadow: 3px 0px 10px #969696;
    background: #76c79e;
    color: rgb(43, 43, 43);
}
.buyInput{
    /* position: absolute;
    left: 1vw; */
    width: 0vw; /* 5 */
    font-size: 2vw;
    height: 5vh;
    text-align: left;
    background: #0000001c;
    border: 1px;
    float: left;
}
.buyInput:focus{
    box-shadow: 0 0 20px 2px rgb(87, 219, 26);
    outline: none;
}
.sellStocks{
    width: 2.5vw;
    background: #b33e36;
    border-radius: 75px 0 0 75px;
    margin: 1vw;
    font-size: 2vw;
    height: 5vh;
    text-align: left;
    padding-left: 5px;
    line-height: 5vh;
    color: black;
}
.sellStocks:hover{
    box-shadow: 3px 0px 10px #969696;
    background: #a3491f;
    color: rgb(43, 43, 43);
}
.sellStocks>svg{
    margin-right: 5px;
}
.sellInput{
    /* position: absolute;
    left: 4vw; */
    width: 0vw; /* 5 */
    font-size: 2vw;
    height: 5vh;
    text-align: left;
    background: #0000001c;
    border: 1px;
    float: right;
}
.sellInput:focus{
    box-shadow: 0 0 20px 2px rgb(194, 63, 39);
    outline: none;
}
#start{
    float: right;
    margin-top: 50vh;
    margin-right: 5vw;
    background: rgba(23, 56, 84, 0.85);
    border-radius: 15px;
    width: 250px;
    text-align: center;
    cursor: pointer;
    transition: all 0.15s ease;
}
#start:hover{
    background: rgba(118, 128, 136, 0.85);
    color: rgb(24, 21, 21)
}
#titleScreen{
    background-image: url(pics/startup.jpg);
    width: 100vw;
    height: 110vh;
    background-repeat: no-repeat;
    background-size: cover;
    filter: blur(5px);
}
#instructions{
    position: absolute;
    top: 0;
    left: 0;
    font-size: 50px;
    color: #dcdcdc;
    width: 100vw;
    height: 100vh;
}
#general td{
    border: 2px dotted rgb(63, 63, 63);
}
.hidden{
    display: none;
    opacity: 0;
}