body{
    color: white;
    font-size: 40px;
    font-family: comfortaa;
    overflow: hidden;
    /*cursor: url('some-cursor.ico'), default;*/
}
#desktop {
    background-color: #463d5d;
    width: 100%;
    height: 100vh;
    background-size: contain;
    background-repeat: no-repeat;
}
#database{
    width: 400px;
    height: 200px;
    background-color: #353535f2;
    color: white;
    background-image: url(../img/hexaboard.png);
    pointer-events: none;
}
#databaseDiv{
    width: 400px;
    height: 285px;
    opacity: 1;
}
#DB{
    cursor: auto;
    background: #3131319e;
    background-image: url(../img/hexaboard.png);
    background-position: 15% 10%;
    width: 400px;
    pointer-events: none;
    color: #cccad2;
    resize: none;
    overflow: hidden;
}
#workplace{
    background-image: url(../img/HAXNGONE.png); /*../img/glitch1.jpg; */
    width: 100%;
    height: 88vh;
    background-repeat: no-repeat;
    background-size: 50%;
    background-position: 50% 50%;
    margin: auto;
}
#TerminalOutput{
    cursor:auto;
    background: #333333f2;
    width:600px;
    pointer-events: none;
    color:greenyellow;
    resize: none;
    overflow: hidden;
    background-image: url(../img/hexaboard.png);
    font-family: monospace;
}
#TerminalInput{
    background: #222;
    width:600px;
    color: greenyellow;
    padding-left: 15px;
    font-family: monospace;
}
#terminal{
    position: absolute;
    z-index: 9;
    width: 600px;
    opacity: 1;
}
#bottomDesk{
    position: absolute;
    bottom: 0.5vh;
    left: 0;
    border-top: 2px solid #987ba5;
    width: 100%;
    height: 7vh;
}
#bottomDesk i{
    font-size: 6vh;
    color: rgb(185, 185, 185);
    -webkit-transition: color 0.15s ease-in-out;
    transition: color 0.15s ease-in-out;
}
#bottomDesk i:hover{
    color: #0000008c;
    cursor: pointer;
}
#userMenu {
    position: absolute;
    bottom: 0;
    margin: 0 0.7vh;
    pointer-events: none;
}
#topDesk{
    border-bottom: 1px solid #a7a7a7;
    width: 100vw;
    height: 5vh;
}
#topDesk i{
    font-size: 4vh;
    margin: 6px;
    display: inline-block;
    margin-right: 25px;
    float: right;
}
#peak{
    float: left;
    position: absolute;
    color: greenyellow;
    margin-top: 3px;
    margin-left: 5px;
}
#date{
    float: right;
    line-height: 40px;
    font-size: 3vh;
}
#dates{
    position: absolute;
    right: 0;
    bottom: 0;
    user-select: none;
}
#dateTime{
    float: right;
    width: 15vh;  
    line-height: 40px;
    font-size: 3vh;
    text-align: center;
}
#optionMenu{
    width: 7vh;
    height: 7vh;
    border-right: 2px solid #9e929e;
    border-radius: 10px;
    background: #321350;
    cursor: pointer;
}
#optionMenu i:hover{
    color: rgb(128, 52, 163);
}
.optionMenu{
    padding-left: 10px;
}
#desktopMenu{
    background: #5d6875;
    position: fixed;
    bottom: 7vh;
    width: 350px;
    height: 400px;
    z-index: 99999;
    border: 10px solid #7f8390;
    border-radius: 20px 20px 0 0;
    display: none;
    user-select: none;
}
.draggable{
    width: fit-content;
    height: fit-content;
    user-select: none;
    font-size: 16px;
}
.icons{
    float: left;
    margin-left: 10vh;
    bottom: 0px;
    position: absolute;
    height: 7vh;
}
.icons div{
    float: left;
    border-right: 1px solid #c1c1c1;
    border-left: 1px solid #c1c1c1;
    border-radius: 10px;
    height: 7vh;
    text-align: center;
    margin-top: 0.5vh;
    margin-right: 0.3vh;
    /* background-image: linear-gradient(to top, #661184, #b75cb7); */
    background: transparent;
    cursor: pointer;
    transition: 0.1s ease-in-out;
}
.icons div:hover{
    /* background-image: linear-gradient(to top, #25082f, #8e5e8e); */
    background-image: linear-gradient(to top, #661184, #b75cb7);
    transition: 0.1s ease-in-out;
}
.icons i{
    margin: 0 0.75vw;
    font-size: 5vh !important;
}
.topbar{
    border: 1px gray solid;
    text-align: right;
    padding: 2px 20px 0 0;
    background: #222222c4;
    font-size: 3vh;
    border-radius: 50px 50px 0 0;
}
.topbar i:hover{
    transition: 0.15s ease-in-out;
    color: rgb(141, 24, 24);
    cursor: pointer;
}
.topbar span{
    float: left;
    padding-left: 40px;
    font-size: 2vh;
    margin-top: 13px;
}