
body{
    overflow-x: hidden;
    overflow-y: hidden;
    background-image: url(pozadi.jpg);
}

#obrazek{
    background-image: url(TomLuk.jpg);
    width: 1350px;  
    height: 120px;
    margin-bottom: 10px;
    margin-left:12%;


}
.panel {
  border: 3px solid black;
  margin-top: 1px;
  margin-bottom: 1px; 
  margin-right: 1px;
  margin-left: 1px;
  width:120px;
  height: 30px;
  float: left;
  text-align: center;
  background-color: rgb(65, 66, 68);
  box-shadow: -3px 5px;
  text-decoration-color: white;
  color: black;
  line-height: 30px;

}


.panel:hover{
    color:rgb(65, 66, 68);
    background-color: #000000;
    text-decoration-color: red;
}

.panel:first-child {
    margin-left: 32%;
}

a {
    text-align: center;
    color: white;
    text-decoration: none;
}
pre{
    color: rgb(185, 185, 185);
}
h2 {
    color: rgb(185, 185, 185);
    text-align: center;
}

#sluzby{
    color: rgb(185, 185, 185);
    text-align: center;
    weight: 400px;
    height: 200px;
    margin-left: 22%;
    margin-top: 8%;
}
#kontakt{
    margin-left: 37%;
    margin-top: 2%;
}
}

th{
    background-color: #000000;
}
.classtable, .classtd{
    border: 1px solid rgb(255, 255, 255);
    width: 1000px;
    height: 50px;
}
.kontakttd1 {
    margin: 32%;
    border: 2px solid rgb(255, 255, 255);
    width: 150px;
    height: 50px;
    text-align: center;
    color: white;
    background-color: black;
}
.kontakttd2 {
    border: 2px solid rgb(255, 255, 255);
    width: 300px;
    height: 50px;
    text-align: center;
    color: white;
    background-color: black;
